/* 
    Author:Xhemali Durguti
    
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    float: left;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 5px;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.title {
    border-bottom: 2px solid #2a2a2a;
    width: 100%;
    color: #2a2a2a;
    font-size: 22px;
}

.text-center {
    text-align: center;
}


/* CSS for Menu */

.menu {
    background: var(--bg-color);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.45s ease;
}

.menu ul li {
    padding: 5px 0;
    cursor: pointer;
}

.menu ul li a {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: var(--second-color);
    color: #202020;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}


/* Main CSS */

.main-content {
    padding: 1%;
    background-color: #f1f2f6;
    height: 800px;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
}

.col-4 {
    width: 15%;
    /* border: 1px solid red; */
    padding: 25px 40px;
    background: var(--text-color);
    border-radius: 15px;
}

.col-4:hover {
    width: 16%;
    padding: 26px 41px;
}


/* CSS for Footer */

.footer {
    background-color: var(--main-color);
    color: var(--text-color);
}

.footer a {
    color: #202020;
}

.footer a:hover {
    color: var(--second-color);
}